<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{site.disqus}}'; 
        var disqus_developer = 0;
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Veuillez activer JavaScript pour afficher les<a href="http://disqus.com/?ref_noscript">
         commentaires fournis par Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">commentaires générés par <span class="logo-disqus">Disqus</span></a>
</section>
