<div class="share sticky-top sticky-top-offset">
    <p>
        Partager
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i style="color:lightskyblue;" class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i style="color:dodgerblue;" class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i style="color:cornflowerblue;" class="fab fa-linkedin-in"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="whatsapp://send?text={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i style="color:mediumseagreen;" class="fab fa-whatsapp"></i>
            </a>
        </li>

    </ul>
    <div class="sep"></div>
    <p>
        Soutenir
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://utip.io/noirmeilleur">
                <i style="color:red;" class="fa fa-heart"></i>
            </a>
        </li>
    </ul>
    <div class="sep"></div>
    <p>
        Nous suivre
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.facebook.com/noirmeilleurpage/">
                <i style="color:dodgerblue;" class="fab fa-facebook"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/noir___meilleur">
                <i style="color:lightskyblue;" class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.instagram.com/noir___meilleur/">
                <i style="color:#ed4956 ;" class="fab fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>
