<!--suppress HtmlFormInputWithoutLabel -->
<div hidden id="preambuleStep" class="survey-step animated">
    <h2 class="sv-title sv-page__title">Préambule</h2>
    <p style=" font-size: 16px;">
        Voici la première partie d'une série de questionnaires pour jouer avec les drapeaux des Etats du continent.
        <br/><br/>
        Pour éviter toute tentative d'utilisation de ressources externes, vous n'aurez que 20 secondes pour identifier
        le Pays dont les drapeau est affiché, parmi les 4 propositions (décompte en bas de la question).
        <br/><br/>
        Cliquez sur <b>'Commencer le Quizz !'</b> lorsque vous être prêt.
    </p>
</div>

<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Togo.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Mali</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sénégal</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Togo</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Guinée Bissau</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_the_Comoros.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Djibouti</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Les Comores</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Mozambique</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Guinée équatoriale</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Zanzibar.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Zanzibar</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Tanzanie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Zambie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Namibie</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Libya.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Algérie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Lybie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Mauritanie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Angola</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Sierra_Leone.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sierra Leone</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Rwanda</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Gabon</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Botswana</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Sierra_Leone.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sierra Leone</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Rwanda</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Gabon</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Botswana</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Somaliland.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Soudan</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Somalie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Swaziland</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Somaliland</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Somaliland.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Soudan</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Somalie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Swaziland</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Somaliland</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_South_Africa.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Afrique du Sud</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Zimbabwe</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Djibouti</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Seychelles</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Lesotho.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">République centrafricaine</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Kenya</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Burundi</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Lesotho</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Tanzania.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sierra Leone</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Tanzanie</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">République démocratique du Congo</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Érythrée</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_the_Republic_of_the_Congo.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Tchad</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Mali</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Guinée</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Congo (Brazzaville)</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Mauritius.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Malawi</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Maurice</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Ouganda</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Gambie</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à gauche.</label>
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label"
                 src="/assets/data/flags/all/Flag_of_Sao_Tome_and_Principe.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sao Tomé-et-Principe</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Zimbabwe</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Mozambique</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Togo</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden class="survey-step animated">
    <div class="form-group">
        <div class="row">
            <img class="col-lg-8 quizz-question-header-label" src="/assets/data/flags/all/Flag_of_Ghana.svg"
                 alt="Flag African Country">
            <div class="col-lg-4 propositions-questions propositions-right">
                <label class="survey-question-lg">Propositions : Choississez le pays dont le drapeau se trouve à
                    gauche.</label>
                <br><br><br>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Ghana</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Sénégal</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Burkina Faso</label>
                </div>
                <div class="radio form-check form-check-inline">
                    <input class="form-check-input" type="radio">
                    <label class="form-check-label">Cameroun</label>
                </div>
            </div>
        </div>
    </div>
</div>